SampleData/hr-xml/HR-XML-3_0/org_hr-xml/3_0/Services/Web_Services/WSDL/AssessmentOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hrx="http://www.hr-xml.org/3" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:tns="http://www.hr-xml.org/3/ws" targetNamespace="http://www.hr-xml.org/3/ws" name="AssessmentOrder">
<documentation>
Copyright The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org

This "noun-specific" WSDL has been autogenerated applying a sub-set of the OAGIS verbs against the draft nouns within the HR-XML library.

Developers may find this useful in designing their own WSDL in cut and paste fashion.

AssessmentOrder.  Defines a set of information necessary to execute an order for an employment test or assessment.
</documentation>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.hr-xml.org/3" xmlns="http://www.hr-xml.org/3">
			<xsd:include schemaLocation="../../../Developer/BODs/ProcessAssessmentOrder.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/AcknowledgeAssessmentOrder.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/CancelAssessmentOrder.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/GetAssessmentOrder.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/ShowAssessmentOrder.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/ConfirmBOD.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/NotifyAssessmentOrder.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/ChangeAssessmentOrder.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/SyncAssessmentOrder.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ProcessAssessmentOrder">
		<wsdl:part name="Message" element="hrx:ProcessAssessmentOrder"/>
	</wsdl:message>
	<wsdl:message name="GetAssessmentOrder">
		<wsdl:part name="Message" element="hrx:GetAssessmentOrder"/>
	</wsdl:message>
	<wsdl:message name="ShowAssessmentOrder">
		<wsdl:part name="Message" element="hrx:ShowAssessmentOrder"/>
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="Message" element="hrx:ConfirmBOD"/>
	</wsdl:message>
	<wsdl:message name="CancelAssessmentOrder">
		<wsdl:part name="Message" element="hrx:CancelAssessmentOrder"/>
	</wsdl:message>
	<wsdl:message name="AcknowledgeAssessmentOrder">
		<wsdl:part name="Message" element="hrx:AcknowledgeAssessmentOrder"/>
	</wsdl:message>
	<wsdl:message name="ChangeAssessmentOrder">
		<wsdl:part name="Message" element="hrx:ChangeAssessmentOrder"/>
	</wsdl:message>
	<wsdl:message name="NotifyAssessmentOrder">
		<wsdl:part name="Message" element="hrx:NotifyAssessmentOrder"/>
	</wsdl:message>
	<wsdl:message name="SyncAssessmentOrder">
		<wsdl:part name="Message" element="hrx:SyncAssessmentOrder"/>
	</wsdl:message>
	<wsdl:portType name="AssessmentOrder_PortType">
		<wsdl:operation name="ProcessAssessmentOrder">
			<wsdl:input message="tns:ProcessAssessmentOrder"/>
			<wsdl:output message="tns:AcknowledgeAssessmentOrder"/>
			<wsdl:fault name="ProcessAssessmentOrderFault" message="tns:ConfirmBOD"/>
		</wsdl:operation>
		<wsdl:operation name="CancelAssessmentOrder">
			<wsdl:input message="tns:CancelAssessmentOrder"/>
			<wsdl:output message="tns:AcknowledgeAssessmentOrder"/>
			<wsdl:fault name="CancelAssessmentOrderFault" message="tns:ConfirmBOD"/>
		</wsdl:operation>
		<wsdl:operation name="GetAssessmentOrder">
			<wsdl:input message="tns:GetAssessmentOrder"/>
			<wsdl:output message="tns:ShowAssessmentOrder"/>
			<wsdl:fault name="GetAssessmentOrderFault" message="tns:ConfirmBOD"/>
		</wsdl:operation>
		<wsdl:operation name="ChangeAssessmentOrder">
			<wsdl:input message="tns:ChangeAssessmentOrder"/>
			<wsdl:output message="tns:AcknowledgeAssessmentOrder"/>
			<wsdl:fault name="ChangeAssessmentOrderFault" message="tns:ConfirmBOD"/>
		</wsdl:operation>
		<wsdl:operation name="NotifyAssessmentOrder">
			<wsdl:input message="tns:NotifyAssessmentOrder"/>
			<wsdl:output message="tns:AcknowledgeAssessmentOrder"/>
			<wsdl:fault name="NotifyAssessmentOrderFault" message="tns:ConfirmBOD"/>
		</wsdl:operation>
		<wsdl:operation name="SyncAssessmentOrder">
			<wsdl:input message="tns:SyncAssessmentOrder"/>
			<wsdl:output message="tns:ConfirmBOD"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AssessmentOrder_Binding" type="tns:AssessmentOrder_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ProcessAssessmentOrder">
			<soap:operation soapAction="ProcessAssessmentOrder" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ProcessAssessmentOrderFault">
				<soap:fault name="ProcessAssessmentOrderFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CancelAssessmentOrder">
			<soap:operation soapAction="CancelAssessmentOrder" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CancelAssessmentOrderFault">
				<soap:fault name="CancelAssessmentOrderFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetAssessmentOrder">
			<soap:operation soapAction="GetAssessmentOrder" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="GetAssessmentOrderFault">
				<soap:fault name="GetAssessmentOrderFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ChangeAssessmentOrder">
			<soap:operation soapAction="ChangeAssessmentOrder" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChangeAssessmentOrderFault">
				<soap:fault name="ChangeAssessmentOrderFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="NotifyAssessmentOrder">
			<soap:operation soapAction="NotifyAssessmentOrder" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="NotifyAssessmentOrderFault">
				<soap:fault name="NotifyAssessmentOrderFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SyncAssessmentOrder">
			<soap:operation soapAction="SyncAssessmentOrder" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AssessmentOrder_Service">
		<wsdl:port name="AssessmentOrder_Port" binding="tns:AssessmentOrder_Binding">
			<soap:address location="http://www.hr-xml.org/3/ws/AssessmentOrder"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
