SampleData/hr-xml/HR-XML-3_0/org_hr-xml/3_0/Services/Web_Services/WSDL/AssessmentReport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hrx="http://www.hr-xml.org/3" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:tns="http://www.hr-xml.org/3/ws" targetNamespace="http://www.hr-xml.org/3/ws" name="AssessmentReport">
<documentation>
Copyright The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org

This "noun-specific" WSDL has been autogenerated applying a sub-set of the OAGIS verbs against the draft nouns within the HR-XML library.

Developers may find this useful in designing their own WSDL in cut and paste fashion.

AssessmentReport.  Provides scores and other details to fulfill or respond to an assessment order.
</documentation>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.hr-xml.org/3" xmlns="http://www.hr-xml.org/3">
			<xsd:include schemaLocation="../../../Developer/BODs/ProcessAssessmentReport.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/AcknowledgeAssessmentReport.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/CancelAssessmentReport.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/GetAssessmentReport.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/ShowAssessmentReport.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/ConfirmBOD.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/NotifyAssessmentReport.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/ChangeAssessmentReport.xsd"/>
			<xsd:include schemaLocation="../../../Developer/BODs/SyncAssessmentReport.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ProcessAssessmentReport">
		<wsdl:part name="Message" element="hrx:ProcessAssessmentReport"/>
	</wsdl:message>
	<wsdl:message name="GetAssessmentReport">
		<wsdl:part name="Message" element="hrx:GetAssessmentReport"/>
	</wsdl:message>
	<wsdl:message name="ShowAssessmentReport">
		<wsdl:part name="Message" element="hrx:ShowAssessmentReport"/>
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part name="Message" element="hrx:ConfirmBOD"/>
	</wsdl:message>
	<wsdl:message name="CancelAssessmentReport">
		<wsdl:part name="Message" element="hrx:CancelAssessmentReport"/>
	</wsdl:message>
	<wsdl:message name="AcknowledgeAssessmentReport">
		<wsdl:part name="Message" element="hrx:AcknowledgeAssessmentReport"/>
	</wsdl:message>
	<wsdl:message name="ChangeAssessmentReport">
		<wsdl:part name="Message" element="hrx:ChangeAssessmentReport"/>
	</wsdl:message>
	<wsdl:message name="NotifyAssessmentReport">
		<wsdl:part name="Message" element="hrx:NotifyAssessmentReport"/>
	</wsdl:message>
	<wsdl:message name="SyncAssessmentReport">
		<wsdl:part name="Message" element="hrx:SyncAssessmentReport"/>
	</wsdl:message>
	<wsdl:portType name="AssessmentReport_PortType">
		<wsdl:operation name="ProcessAssessmentReport">
			<wsdl:input message="tns:ProcessAssessmentReport"/>
			<wsdl:output message="tns:AcknowledgeAssessmentReport"/>
			<wsdl:fault name="ProcessAssessmentReportFault" message="tns:ConfirmBOD"/>
		</wsdl:operation>
		<wsdl:operation name="CancelAssessmentReport">
			<wsdl:input message="tns:CancelAssessmentReport"/>
			<wsdl:output message="tns:AcknowledgeAssessmentReport"/>
			<wsdl:fault name="CancelAssessmentReportFault" message="tns:ConfirmBOD"/>
		</wsdl:operation>
		<wsdl:operation name="GetAssessmentReport">
			<wsdl:input message="tns:GetAssessmentReport"/>
			<wsdl:output message="tns:ShowAssessmentReport"/>
			<wsdl:fault name="GetAssessmentReportFault" message="tns:ConfirmBOD"/>
		</wsdl:operation>
		<wsdl:operation name="ChangeAssessmentReport">
			<wsdl:input message="tns:ChangeAssessmentReport"/>
			<wsdl:output message="tns:AcknowledgeAssessmentReport"/>
			<wsdl:fault name="ChangeAssessmentReportFault" message="tns:ConfirmBOD"/>
		</wsdl:operation>
		<wsdl:operation name="NotifyAssessmentReport">
			<wsdl:input message="tns:NotifyAssessmentReport"/>
			<wsdl:output message="tns:AcknowledgeAssessmentReport"/>
			<wsdl:fault name="NotifyAssessmentReportFault" message="tns:ConfirmBOD"/>
		</wsdl:operation>
		<wsdl:operation name="SyncAssessmentReport">
			<wsdl:input message="tns:SyncAssessmentReport"/>
			<wsdl:output message="tns:ConfirmBOD"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AssessmentReport_Binding" type="tns:AssessmentReport_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ProcessAssessmentReport">
			<soap:operation soapAction="ProcessAssessmentReport" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ProcessAssessmentReportFault">
				<soap:fault name="ProcessAssessmentReportFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CancelAssessmentReport">
			<soap:operation soapAction="CancelAssessmentReport" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CancelAssessmentReportFault">
				<soap:fault name="CancelAssessmentReportFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetAssessmentReport">
			<soap:operation soapAction="GetAssessmentReport" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="GetAssessmentReportFault">
				<soap:fault name="GetAssessmentReportFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ChangeAssessmentReport">
			<soap:operation soapAction="ChangeAssessmentReport" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChangeAssessmentReportFault">
				<soap:fault name="ChangeAssessmentReportFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="NotifyAssessmentReport">
			<soap:operation soapAction="NotifyAssessmentReport" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="NotifyAssessmentReportFault">
				<soap:fault name="NotifyAssessmentReportFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SyncAssessmentReport">
			<soap:operation soapAction="SyncAssessmentReport" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AssessmentReport_Service">
		<wsdl:port name="AssessmentReport_Port" binding="tns:AssessmentReport_Binding">
			<soap:address location="http://www.hr-xml.org/3/ws/AssessmentReport"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
