SampleData/twist/schemas/TWIST3.1.TWISTCore.TwistShared.200609.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by Don Cuthbertson (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- Copyright 2006 TWIST Process Innovations, LTD. -->
	<!--Working Draft-->
	<!-- This schema is available for comment and the structure is subject to change -->
	<!-- Version 3.1 September 2006-->
	<!-- Specification Document: -->
	<xs:complexType name="Address">
		<xs:annotation>
			<xs:documentation>can be imported from fpml-shared  included elements and data types can be removed</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="streetAddress" type="StreetAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="city" type="City" minOccurs="0"/>
			<xs:element name="state" type="xs:string" minOccurs="0"/>
			<xs:element name="country" type="Country" minOccurs="0"/>
			<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdjustableDate">
		<xs:sequence>
			<xs:element name="unadjustedDate" type="xs:date"/>
			<xs:element name="dateAdjustments" type="BusinessDayAdustments"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankAccountNumber">
		<xs:choice>
			<xs:element name="iBAN" type="IBAN"/>
			<xs:element name="bBAN" type="BBAN"/>
			<xs:element name="uPIC" type="UPIC"/>
			<xs:element name="domesticId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BankAccountNumberInfo">
		<xs:sequence>
			<xs:element name="bankAccountType" type="BankAccountType" minOccurs="0"/>
			<xs:element name="bankAccountNumber" type="BankAccountNumber"/>
			<xs:element name="bankAccountCCY" type="Currency"/>
			<xs:element name="bankAccountName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankInfo">
		<xs:sequence>
			<xs:element name="bankId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="bankRef" type="BankRef" minOccurs="0"/>
			<xs:element name="name" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="bankBranchId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="bankBranchName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="postAddress" type="PostAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>post address of the bank</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="branchPostAddress" type="PostAddress" minOccurs="0"/>
			<xs:element name="clearingSystemId" type="ClearingSystemId" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankRef">
		<xs:sequence>
			<xs:element name="bankIdType" type="BankIdType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BeneficiaryInformation">
		<xs:sequence>
			<xs:element name="beneficiaryBank" type="Routing" minOccurs="0"/>
			<xs:element name="beneficiary" type="Routing"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Block">
		<xs:sequence>
			<xs:element name="blockId" type="BlockId"/>
			<xs:element name="blockConstraint" type="BlockConstraint" minOccurs="0"/>
			<xs:element name="partialBlock" type="xs:boolean" minOccurs="0"/>
			<xs:element name="blockItem" type="BlockItem" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BlockItem">
		<xs:sequence>
			<xs:element name="partyTradeIdentifier" type="PartyTradeIdentifier" maxOccurs="unbounded"/>
			<xs:element name="blockPartyReference" type="PartyReference" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This reference the party to use on a single blockIetm.  If not present then the party from the parent trade is used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="financialTerms" type="FinancialTerms"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessCenters">
		<xs:sequence>
			<xs:element name="businessCenter" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="BusinessCenterTime">
		<xs:sequence>
			<xs:element name="hourMinuteTime" type="xs:string"/>
			<xs:element name="businessCenter" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessDayAdustments">
		<xs:sequence>
			<xs:element name="businessDayConvention" type="xs:string"/>
			<xs:choice minOccurs="0">
				<xs:element name="businessCentersReference">
					<xs:complexType>
						<xs:attribute name="href" type="xs:normalizedString" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="businessCenters" type="BusinessCenters"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CalculationAgent">
		<xs:choice>
			<xs:element name="calculationAgentPartyReference" type="PartyReference" maxOccurs="unbounded"/>
			<xs:element name="calculationAgentParty" type="CalculationAgentParty"/>
		</xs:choice>
		<xs:attribute name="href" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:complexType name="ContactInfo">
		<xs:sequence>
			<xs:element name="departmentName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Department name [added 0606-151]</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="email" type="Email" minOccurs="0"/>
			<xs:element name="fax" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="otherCommunication" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Other contact communication channel [added 0606-152]</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="channelCode">
							<xs:annotation>
								<xs:documentation>The method of communication expressed as a code</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="value" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The communication value such as phone number or email address</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="128"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="phoneNumber" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="postAddress" type="PostAddress"/>
			<xs:element name="prefMethod" type="PrefMethod" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="uri" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="CurrencyPricedAmount">
		<xs:sequence>
			<xs:element name="amountIfRequesterBuys" type="xs:decimal" minOccurs="0"/>
			<xs:element name="amountIfRequesterSells" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateRange">
		<xs:sequence>
			<xs:element name="beginDate" type="xs:date" minOccurs="0"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
			<xs:element name="dateType" type="DateType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DefinedField">
		<xs:sequence>
			<xs:element name="fieldName" type="xs:string"/>
			<xs:element name="fieldValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscussionElement">
		<xs:sequence>
			<xs:element name="discussionElementId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Unique identification of an element in a conversation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tradeConversationUser" type="User">
				<xs:annotation>
					<xs:documentation>A user is involved in each step of the pricingConversation.  This identifies that user.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateTime" type="xs:dateTime"/>
			<xs:element name="comment" type="Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Free form comment related to this message.  When a conversationMessage is recorded this could be empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relatedDiscussionElementId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Error">
		<xs:sequence>
			<xs:element name="errorCode" type="xs:string"/>
			<xs:element name="errorDescription" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExchangeRate">
		<xs:sequence>
			<xs:element name="quotedCurrencyPair" type="QuotedCurrencyPair"/>
			<xs:element name="rate" type="Rate"/>
			<xs:element name="spotRate" type="Rate" minOccurs="0"/>
			<xs:element name="forwardPoints" type="Rate" minOccurs="0"/>
			<xs:element name="sideRates" type="SideRates" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Expiration">
		<xs:annotation>
			<xs:documentation>Moved from TwstiMsgStreaming and TwistTradeDoc to here 0906-12</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="expirationType" default="GOOD_TO_CANCEL">
				<xs:annotation>
					<xs:documentation>GOOD_TO_TIME requires a date</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="GOOD_TO_CANCEL"/>
						<xs:enumeration value="IMMEDIATE_OR_CANCEL"/>
						<xs:enumeration value="GOOD_TO_TIME"/>
						<xs:enumeration value="GOOD_FOR_SECONDS"/>
						<xs:enumeration value="FILL_OR_KILL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="expirationDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="timeToLive" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The time this order will live in seconds.   ONly needed if type requires it.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialTerms">
		<xs:choice>
			<xs:element name="fxSingleLegRequest" type="FxSingleLegRequest"/>
			<xs:element name="fxSwapRequest" type="FxSwapRequest"/>
			<xs:element name="termDepositRequest" type="TermDepositRequest"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FXFixing">
		<xs:sequence>
			<xs:element name="quotedCurrencyPair" type="QuotedCurrencyPair"/>
			<xs:element name="primaryRateSource" type="InformationSource"/>
			<xs:element name="secondaryRateSource" type="InformationSource" minOccurs="0"/>
			<xs:element name="fixingDate" type="xs:date"/>
			<xs:element name="fixingTime" type="BusinessCenterTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FxSingleLegPrice">
		<xs:sequence>
			<xs:element name="rate" type="Rate"/>
			<xs:element name="spotRate" type="Rate"/>
			<xs:element name="forwardPoints" type="Rate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FxSingleLegQuote">
		<xs:sequence>
			<xs:element name="spotQuote" type="Quote"/>
			<xs:element name="forwardPointsQuote" type="Quote" minOccurs="0"/>
			<xs:element name="quotedCurrencyPair" type="QuotedCurrencyPair"/>
			<xs:element name="sideRatesQuote" type="SideRatesQuote" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FxSingleLegRequest">
		<xs:sequence>
			<xs:element name="dealtCurrency" type="Currency"/>
			<xs:element name="againstCurrency" type="Currency"/>
			<xs:choice minOccurs="0">
				<xs:annotation>
					<xs:documentation>A two-way quote has no receiver specified.  A one-way requires that one receiver be specified. </xs:documentation>
				</xs:annotation>
				<xs:element name="requesterBuys" type="xs:boolean"/>
				<xs:element name="requesterSells" type="xs:boolean"/>
			</xs:choice>
			<xs:element name="dealtCurrencyAmount" type="xs:decimal"/>
			<xs:choice>
				<xs:element name="tenor" type="FxTenor"/>
				<xs:element name="valueDate" type="xs:date"/>
			</xs:choice>
			<xs:element name="quotedCurrencyPair" type="QuotedCurrencyPair" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FxSwapQuote">
		<xs:sequence>
			<xs:element name="spotQuote" type="Quote"/>
			<xs:element name="nearPointsQuote" type="Quote" minOccurs="0"/>
			<xs:element name="farPointsQuote" type="Quote"/>
			<xs:element name="quotedCurrencyPair" type="QuotedCurrencyPair"/>
			<xs:element name="sideRatesQuote" type="FxSwapQuote" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FxSwapRequest">
		<xs:sequence>
			<xs:element name="dealtCurrency" type="Currency"/>
			<xs:element name="againstCurrency" type="Currency"/>
			<xs:choice minOccurs="0">
				<xs:annotation>
					<xs:documentation>A two-way quote has not receiver specified.  A one-way requires that on receiver be specified.  For a swap this refers to the near side</xs:documentation>
				</xs:annotation>
				<xs:element name="requesterBuys" type="xs:boolean"/>
				<xs:element name="requesterSells" type="xs:boolean"/>
			</xs:choice>
			<xs:element name="dealtCurrencyNearAmount" type="xs:decimal"/>
			<xs:element name="dealtCurrencyFarAmount" type="xs:decimal"/>
			<xs:choice>
				<xs:element name="nearTenor" type="FxTenor"/>
				<xs:element name="nearValueDate" type="xs:date"/>
			</xs:choice>
			<xs:choice>
				<xs:element name="farTenor" type="FxTenor"/>
				<xs:element name="farValueDate" type="xs:date"/>
			</xs:choice>
			<xs:element name="quotedCurrencyPair" type="QuotedCurrencyPair" minOccurs="0"/>
			<xs:element name="swapReferenceRate" type="Rate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAcctInfo">
		<xs:sequence>
			<xs:element name="bankAccountNumberInfo" type="BankAccountNumberInfo"/>
			<xs:element name="bankInfo" type="BankInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndustId">
		<xs:sequence>
			<xs:element name="industIdType" type="IndustIdType"/>
			<xs:element name="industIdNum" type="IndustIdNum"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InformationSource">
		<xs:sequence>
			<xs:element name="rateSource" type="xs:string"/>
			<xs:element name="rateSourcePage" type="xs:string" minOccurs="0"/>
			<xs:element name="rateSourcePageHeading" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Instrument">
		<xs:annotation>
			<xs:documentation>.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="fxInstrument" type="QuotedCurrencyPair"/>
			<xs:element name="mmInstrument" type="MmInstrument"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="InstrumentQuote">
		<xs:choice>
			<xs:element name="fxSingleLegQuote" type="FxSingleLegQuote"/>
			<xs:element name="fxSwapQuote" type="FxSwapQuote"/>
			<xs:element name="termDepositQuote" type="Quote"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="IntermediaryInformation">
		<xs:sequence>
			<xs:element name="intermediarySequenceNumber" type="xs:positiveInteger"/>
			<xs:element name="routing" type="Routing"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Interval">
		<xs:annotation>
			<xs:documentation>This consists of a period and optional multiplier.  Multiplier works for W, M and Y.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="periodMultiplier" type="xs:integer" minOccurs="0"/>
			<xs:element name="period" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IntervalQuote">
		<xs:sequence>
			<xs:element name="quotedTenor" type="FxTenor"/>
			<xs:choice>
				<xs:element name="quote" type="Quote"/>
				<xs:element name="impliedVolatility" type="xs:decimal"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LinkId">
		<xs:sequence>
			<xs:element name="tradeId" type="TradeId"/>
			<xs:element name="linkIdType" type="LinkIdType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarketQuote">
		<xs:sequence>
			<xs:element name="contributorReference" type="PartyReference"/>
			<xs:element name="quoteTime" type="QuoteTime"/>
			<xs:element name="quotedCurrencyPair" type="QuotedCurrencyPair"/>
			<xs:element name="intervalQuote" type="IntervalQuote" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MmInstrument">
		<xs:sequence>
			<xs:element name="currency" type="Currency"/>
			<xs:element name="dayCountFraction" type="DayCountFraction" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Money">
		<xs:sequence>
			<xs:element name="amount" type="xs:decimal"/>
			<xs:element name="currency" type="Currency"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderLimit">
		<xs:sequence>
			<xs:element name="spotRate" type="Rate"/>
			<xs:element name="points" type="Rate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderParameters">
		<xs:sequence>
			<xs:element name="orderType" type="OrderType"/>
			<xs:element name="expirationDate" type="xs:dateTime"/>
			<xs:element name="allowPartialFill" type="xs:boolean" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element name="limit" type="OrderLimit"/>
				<xs:element name="benchmark" type="Benchmark"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderStatus">
		<xs:annotation>
			<xs:documentation>Moved here from TwistMsgStreaming and TwistMsgPricing per 0906-13</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="partyOrderId" type="PartyOrderId"/>
			<xs:element name="remainingDealtCurrerncyAmount" type="xs:decimal"/>
			<xs:element name="limitPrice" type="FxSingleLegPrice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgId">
		<xs:sequence>
			<xs:element name="orgIdType" type="OrgIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>changed from min 1 to min 0 0606-133</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orgIdNum">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>Party and all related types and elements are different from the FpML party</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="typedPartyId" type="TypedPartyId" maxOccurs="unbounded"/>
			<xs:element name="partyName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="PartyContactInformation">
		<xs:annotation>
			<xs:documentation>changed name from PartyContactInfo to PartyContactInformation 0606-132</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orgId" type="OrgId" minOccurs="0"/>
			<xs:element name="industId" type="IndustId" minOccurs="0"/>
			<xs:element name="name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="legalName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="contactInfo" type="ContactInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyContactInfo">
		<xs:annotation>
			<xs:documentation>created 0606-134</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PartyContactInformation">
				<xs:sequence>
					<xs:element name="individualContact" minOccurs="0" maxOccurs="2">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="name">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="70"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="contactInfo" type="ContactInfo"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PartyOrderId">
		<xs:sequence>
			<xs:element name="orderId" type="OrderId"/>
			<xs:element name="requesterPartyReference" type="PartyReference"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyReference">
		<xs:attribute name="href" type="xs:normalizedString" use="required"/>
	</xs:complexType>
	<xs:complexType name="PartyTradeIdentifier">
		<xs:annotation>
			<xs:documentation>Different from fpml-shared-4-0</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="partyReference" type="PartyReference"/>
			<xs:element name="tradeId" type="TradeId"/>
			<xs:element name="linkId" type="LinkId" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Payment">
		<xs:annotation>
			<xs:documentation>A payment contains no settlement instructions but all other details of a payment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="paymentIdentifier" type="xs:string" minOccurs="0"/>
			<xs:element name="payerPartyReference" type="PartyReference"/>
			<xs:element name="receiverPartyReference" type="PartyReference"/>
			<xs:element name="paymentAmount" type="Money"/>
			<xs:element name="paymentDate" type="AdjustableDate" minOccurs="0"/>
			<xs:element name="adjustedPaymentDate" type="xs:date" minOccurs="0"/>
			<xs:element name="paymentType" type="PaymentType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentAmount">
		<xs:choice>
			<xs:element name="paymentInstructedAmount" type="Money"/>
			<xs:element name="paymentEquivalent" type="PaymentEquivalent"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PaymentCharges">
		<xs:sequence>
			<xs:element name="chargeBearer" type="ChargeBearer"/>
			<xs:element name="paymentChargesAccountInfo" type="GenericAcctInfo" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentDate">
		<xs:sequence>
			<xs:element name="requestedExecutionDate" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentDiscount">
		<xs:choice minOccurs="0" maxOccurs="2">
			<xs:element name="paymentDiscountAmount" type="Money"/>
			<xs:element name="rate" type="xs:decimal"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PaymentEquivalent">
		<xs:sequence>
			<xs:element name="amount" type="xs:decimal"/>
			<xs:element name="currency" type="Currency"/>
			<xs:element name="currencyOfTransfer" type="Currency"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentRemittanceDetails">
		<xs:sequence>
			<xs:element name="paymentRemittanceDetailsType" type="PaymentRemittanceDetailsType"/>
			<xs:element name="paymentRemittanceDetailsLocation" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="paymentRemittanceDetailsListing" type="PaymentRemittanceDetailsListing" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentRemittanceDetailsListing">
		<xs:sequence>
			<xs:element name="rDDocumentType" type="RDDocumentType"/>
			<xs:element name="rDDocumentNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rDMonetaryAmounts" type="RDMonetaryAmounts" minOccurs="0"/>
			<xs:element name="rDDocumentDate" type="xs:date" minOccurs="0"/>
			<xs:element name="rDInvoiceReceiverParty" type="PartyContactInfo" minOccurs="0"/>
			<xs:element name="rDInvoiceIssuerParty" type="PartyContactInfo" minOccurs="0"/>
			<xs:element name="rDDocumentAdjustments" type="RDDocumentAdjustments" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentScheme">
		<xs:choice>
			<xs:element name="code" type="Code"/>
			<xs:element name="priorityInformation"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PaymentTaxInformation">
		<xs:sequence>
			<xs:element name="taxReferenceNumber" type="TaxReferenceNumber" minOccurs="0"/>
			<xs:element name="creditorTaxId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="debtorTaxId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="taxType" type="TaxType" minOccurs="0"/>
			<xs:element name="taxAmount" type="Money"/>
			<xs:element name="wHTGrossAmount" type="Money"/>
			<xs:element name="wHTCode" type="WHTCode"/>
			<xs:element name="taxInfo" type="TaxInfo" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentTransactionId">
		<xs:sequence>
			<xs:element name="transactionId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="transactionOrgId" type="TransactionOrgId" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentWCFDetails">
		<xs:sequence>
			<xs:element name="paymentDiscount" type="PaymentDiscount" minOccurs="0"/>
			<xs:element name="paymentConditionIndicator" type="PaymentConditionIndicator"/>
			<xs:element name="paymentRevocabilityIndicator" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostAddress">
		<xs:sequence>
			<xs:element name="addressIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An identifier for a specific address within a scheme of registered addresses [added 0606-143]</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="postbox" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A post office box number [added 0606-145]</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="floor" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An addressable floor of a building[added 0606-146]</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="room" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A room, suite or apartment of a building [added 0606-147]</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="addressLine" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>changed from 1-5 to 0-5 0606-144]</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="streetName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="buildingName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of a building [added 0606-148]</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="buildingNum" type="BuildingNum" minOccurs="0"/>
			<xs:element name="city">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="countrySubDivision" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>changed from state (xs:string max35) to countrySubDivision complex 0606-149</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="code" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A territorial division of a country such as a state or county represented as a code</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="9"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="name" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The name of a territorial division of a country such as a state or county</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="35"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="country" type="Country"/>
			<xs:element name="countryIdentification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>added 0606-150]</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="code" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A country represented as a code</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="name" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The name of a country</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="35"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="postCode" type="PostCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Price">
		<xs:sequence>
			<xs:element name="side">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="BID"/>
						<xs:enumeration value="OFFER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="availableAmount" type="Money">
				<xs:annotation>
					<xs:documentation>This is the amount available at this price.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="instrumentPrice" type="FxSingleLegPrice"/>
				<xs:element name="noPrice">
					<xs:annotation>
						<xs:documentation>If the maker wishes to remove a price then an executable prices with this element is used.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Priced">
		<xs:sequence>
			<xs:element name="priceResponseId" type="PriceResponseId">
				<xs:annotation>
					<xs:documentation>Each price response has a unique identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="providerPartyReference" type="PartyReference">
				<xs:annotation>
					<xs:documentation>A reference to a providing party.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pricedTerms" type="PricedTerms"/>
			<xs:element name="timeValid" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>The time in seconds that a response if valid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="executionConfirmationRequired" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PricedFXSingleLeg">
		<xs:sequence>
			<xs:element name="dealtCurrency" type="Currency"/>
			<xs:element name="againstCurrency" type="Currency"/>
			<xs:choice minOccurs="0">
				<xs:element name="requesterBuys" type="xs:boolean"/>
				<xs:element name="requesterSells" type="xs:boolean"/>
			</xs:choice>
			<xs:element name="dealtCurrencyAmount" type="xs:decimal"/>
			<xs:element name="againstCurrencyPricedAmount" type="CurrencyPricedAmount" minOccurs="0"/>
			<xs:element name="valueDate" type="ValueDate"/>
			<xs:element name="fxSingleLegQuote" type="FxSingleLegQuote"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PricedFXSwap">
		<xs:sequence>
			<xs:element name="dealtCurrency" type="Currency"/>
			<xs:element name="againstCurrency" type="Currency"/>
			<xs:choice minOccurs="0">
				<xs:element name="requesterBuys" type="xs:boolean"/>
				<xs:element name="requesterSells" type="xs:boolean"/>
			</xs:choice>
			<xs:element name="againstCurrencyNearPricedAmount" type="CurrencyPricedAmount" minOccurs="0"/>
			<xs:element name="againstCurrencyFarPricedAmount" type="CurrencyPricedAmount" minOccurs="0"/>
			<xs:element name="valueDate" type="ValueDate"/>
			<xs:element name="farValueDate" type="ValueDate"/>
			<xs:element name="fxSwapQuote" type="FxSwapQuote"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PricedTermDeposit">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:annotation>
					<xs:documentation>In a two way this is not known</xs:documentation>
				</xs:annotation>
				<xs:element name="requesterBorrows" type="xs:boolean"/>
				<xs:element name="requesterLends" type="xs:boolean"/>
			</xs:choice>
			<xs:element name="currency" type="Currency"/>
			<xs:element name="currencyInterestAmount" type="CurrencyPricedAmount" minOccurs="0"/>
			<xs:element name="dayCountFraction" type="DayCountFraction" minOccurs="0"/>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="maturityDate" type="xs:date"/>
			<xs:element name="termDepositQuote" type="Quote"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PricedTerms">
		<xs:choice>
			<xs:element name="pricedFXSingleLeg" type="PricedFXSingleLeg"/>
			<xs:element name="pricedFXSwap" type="PricedFXSwap"/>
			<xs:element name="pricedTermDeposit" type="PricedTermDeposit"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Product">
		<xs:sequence>
			<xs:element name="productType" type="xs:string" minOccurs="0"/>
			<xs:element name="productId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:complexType name="Quote">
		<xs:annotation>
			<xs:documentation>At least one element must have a value but all are optional.   This is necessary to cover the case that only one direction is quoted.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bidRate" type="Rate" minOccurs="0"/>
			<xs:element name="offerRate" type="Rate" minOccurs="0"/>
			<xs:element name="midRate" type="Rate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuotedCurrencyPair">
		<xs:sequence>
			<xs:element name="currency1" type="Currency"/>
			<xs:element name="currency2" type="Currency"/>
			<xs:element name="quoteBasis" type="QuoteBasis"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuoteTime">
		<xs:sequence>
			<xs:element name="dateTime" type="xs:dateTime"/>
			<xs:element name="businessCenter" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RDDocumentAdjustments">
		<xs:sequence>
			<xs:element name="rDAdjustmentLineItemNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rDAdjustmentReason">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rDAdjustmentAmount" type="Money"/>
			<xs:element name="rDResolutionNoRef" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RDMonetaryAmounts">
		<xs:choice minOccurs="0">
			<xs:element name="rDAmountDueOrPayable" type="Money"/>
			<xs:element name="rDAmountRemitted" type="Money"/>
			<xs:element name="rDAmountDiscount" type="Money"/>
			<xs:element name="rDAmountCreditNote" type="Money"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RDWHTDetails">
		<xs:sequence>
			<xs:element name="rDWHTAmount" type="Money" minOccurs="0"/>
			<xs:element name="rDWHTTaxCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Reason">
		<xs:sequence>
			<xs:element name="comment" type="Text" minOccurs="0"/>
			<xs:element name="user" type="User"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Reference">
		<xs:attribute name="href" type="xs:normalizedString" use="required"/>
	</xs:complexType>
	<xs:complexType name="Routing">
		<xs:choice>
			<xs:element name="routingIds" type="RoutingIds"/>
			<xs:element name="routingExplicitDetails" type="RoutingExplicitDetails"/>
			<xs:element name="routingIdsAndExplicitDetails" type="RoutingIdsAndExplicitDetails"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RoutingExplicitDetails">
		<xs:sequence>
			<xs:element name="routingName" type="xs:string"/>
			<xs:element name="routingAddress" type="Address" minOccurs="0"/>
			<xs:element name="accountNumber" type="xs:normalizedString" minOccurs="0"/>
			<xs:element name="routingReferenceText" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoutingId">
		<xs:sequence>
			<xs:element name="routingIdCode" type="xs:string"/>
			<xs:element name="routingIdCodeType" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoutingIds">
		<xs:sequence>
			<xs:element name="routingId" type="RoutingId" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoutingIdsAndExplicitDetails">
		<xs:sequence>
			<xs:element name="routingIds" type="RoutingIds" maxOccurs="unbounded"/>
			<xs:element name="routingName" type="xs:string"/>
			<xs:element name="routingAddress" type="Address" minOccurs="0"/>
			<xs:element name="accountNumber" type="xs:normalizedString" minOccurs="0"/>
			<xs:element name="routingReferenceText" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementInformation">
		<xs:sequence>
			<xs:element name="ssiName" type="xs:normalizedString" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element name="settlementInstruction" type="SettlementInstruction"/>
				<xs:element name="splitSettlement" type="SplitSettlement" maxOccurs="unbounded"/>
				<xs:element name="settlementMemberReference" type="PartyReference"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementInstruction">
		<xs:sequence>
			<xs:element name="correspondentInformation" type="Routing" minOccurs="0"/>
			<xs:element name="intermediaryInformation" type="IntermediaryInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="beneficiaryInformation" type="BeneficiaryInformation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementPriority">
		<xs:choice>
			<xs:element name="priority" type="Priority"/>
			<xs:element name="paymentScheme" type="PaymentScheme"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SideRate">
		<xs:sequence>
			<xs:element name="currency" type="Currency"/>
			<xs:element name="sideRateBasis" type="SideRateBasis">
				<xs:annotation>
					<xs:documentation>The method by which the exchange rate against base currency is quoted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rate" type="Rate"/>
			<xs:element name="spotRate" type="Rate" minOccurs="0"/>
			<xs:element name="forwardPoints" type="Rate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SideRateQuote">
		<xs:sequence>
			<xs:element name="currency" type="Currency"/>
			<xs:element name="spotQuote" type="Quote"/>
			<xs:element name="forwardPointsQuote" type="Quote" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SideRates">
		<xs:annotation>
			<xs:documentation>Side rates are the rates used to price this trade when the two requested currencies are not priced directly.  The rates are against a single common currency, usually USD.s</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="baseCurrency" type="Currency"/>
			<xs:element name="currency1SideRate" type="SideRate" minOccurs="0"/>
			<xs:element name="currency2SideRate" type="SideRate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SideRatesQuote">
		<xs:sequence>
			<xs:element name="baseCurrency" type="Currency"/>
			<xs:element name="currency1SideRateQuote" type="SideRateQuote"/>
			<xs:element name="currency2SideRateQuote" type="SideRateQuote"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SplitSettlement">
		<xs:sequence>
			<xs:element name="splitSettlementAmount" type="Money"/>
			<xs:element name="settlementInstruction" type="SettlementInstruction"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StreetAddress">
		<xs:sequence>
			<xs:element name="streetLine" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxInfo">
		<xs:sequence>
			<xs:element name="rDCertId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="taxType" type="TaxType" minOccurs="0"/>
			<xs:element name="rDTaxableBaseAmount" type="Money" minOccurs="0"/>
			<xs:element name="rDRate" type="xs:decimal" minOccurs="0"/>
			<xs:element name="rDTaxAmount" type="Money" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TermDepositRequest">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:annotation>
					<xs:documentation>If a one way quote is requested, the presence of this element specifies the direction, else it's a two-way</xs:documentation>
				</xs:annotation>
				<xs:element name="requesterBorrows" type="xs:boolean"/>
				<xs:element name="requesterLends" type="xs:boolean"/>
			</xs:choice>
			<xs:element name="amount" type="xs:decimal"/>
			<xs:element name="currency" type="Currency"/>
			<xs:element name="dayCountFraction" type="DayCountFraction" minOccurs="0"/>
			<xs:element name="startDate" type="xs:date"/>
			<xs:choice>
				<xs:element name="tenor" type="FxTenor"/>
				<xs:element name="maturityDate" type="xs:date"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeRequest">
		<xs:sequence>
			<xs:element name="partyTradeIdentifier" type="PartyTradeIdentifier"/>
			<xs:element name="requesterPartyReference" type="PartyReference"/>
			<xs:element name="financialTerms" type="FinancialTerms"/>
			<xs:element name="pendingAction" type="xs:string" minOccurs="0"/>
			<xs:element name="tradeComment" type="Text" minOccurs="0"/>
			<xs:element name="definedField" type="DefinedField" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="block" type="Block" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TypedPartyId">
		<xs:sequence>
			<xs:element name="partyId" type="PartyId"/>
			<xs:element name="partyIdType" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="User">
		<xs:sequence>
			<xs:element name="partyReference" type="PartyReference"/>
			<xs:element name="system" type="xs:string" minOccurs="0"/>
			<xs:element name="location" type="xs:string" minOccurs="0"/>
			<xs:element name="userId" type="xs:normalizedString" minOccurs="0"/>
			<xs:element name="userName" type="xs:string" minOccurs="0"/>
			<xs:element name="role" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AccountLevel">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Detail"/>
			<xs:enumeration value="Intermediate"/>
			<xs:enumeration value="Summary"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AccountName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AccountNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BalanceAdjustmentDays">
		<xs:restriction base="xs:long">
			<xs:totalDigits value="3"/>
			<!--added total digit 3 restriction (0606-70)-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BalanceAdjustmentDescription">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BalanceAdjustmentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ledger"/>
			<xs:enumeration value="Float"/>
			<xs:enumeration value="Collected"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BalanceIdentifier">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LedgerBal-AvgPositive"/>
			<xs:enumeration value="LedgerBal-AvgNegative"/>
			<xs:enumeration value="LedgerBal-AvgNet"/>
			<xs:enumeration value="FloatBal-Avg"/>
			<xs:enumeration value="CollectedBal-AvgNet"/>
			<xs:enumeration value="BalAdjust-PriorPeriod-AvgFloat"/>
			<xs:enumeration value="CollectedBal-AvgPositive"/>
			<xs:enumeration value="CollectedBal-AvgNegative"/>
			<xs:enumeration value="UncollectedFundsUsed"/>
			<xs:enumeration value="DemandDepositAccountBal-ReserveRequirement"/>
			<xs:enumeration value="InvestableBal"/>
			<xs:enumeration value="BalEquivalent"/>
			<xs:enumeration value="ExcessDeficitInvestableBal"/>
			<xs:enumeration value="AdditionalBal-ReserveRequirement"/>
			<xs:enumeration value="ExcessDeficitCollectedBal"/>
			<xs:enumeration value="LedgerBal-MonthEnd"/>
			<xs:enumeration value="FDICAssessmentBal"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BankAccountType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CASH"/>
			<xs:enumeration value="CHAR"/>
			<xs:enumeration value="SACC"/>
			<xs:enumeration value="CACC"/>
			<xs:enumeration value="SVGS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BankContactEmail">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BankContactFax">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BankContactName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BankContactPhone">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BankIdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Swift"/>
			<xs:enumeration value="ABA"/>
			<xs:enumeration value="Fedwire"/>
			<xs:enumeration value="CHIP"/>
			<xs:enumeration value="CHAP"/>
			<xs:enumeration value="SortCode"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BankName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BankServiceID">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BBAN">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Benchmark">
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="BlockConstraint">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INSTRUMENT"/>
			<xs:enumeration value="PARTY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BlockId">
		<xs:annotation>
			<xs:documentation>This is identification of a particular block be processed for a trade.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="BuildingNum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CalculationAgentParty">
		<xs:annotation>
			<xs:documentation>in FpML this is a reference to a Party JD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="ChargeBearer">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OUR"/>
			<xs:enumeration value="BEN"/>
			<xs:enumeration value="SHA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="City">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ClearingSystemId">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACH"/>
			<xs:enumeration value="RTGS"/>
			<xs:enumeration value="FedNet"/>
			<xs:enumeration value="CHIPS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Comments">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommonCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommonCodeQualifier">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CompensationIdentifier">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EarningsAllowance"/>
			<xs:enumeration value="BalanceCompensableServices"/>
			<xs:enumeration value="ExcessDeficitEarningsAllowance"/>
			<xs:enumeration value="EarningsAllowance-NetAdjust"/>
			<xs:enumeration value="ServCharges-NetAdjust-BalCompensable"/>
			<xs:enumeration value="ExcessDeficitEarningsAllowance-Adjusted"/>
			<xs:enumeration value="DeficitEarningsAllowanceDueThisStmt"/>
			<xs:enumeration value="Non-BalCompensableServices"/>
			<xs:enumeration value="ServCharges-NetAdjust-Non-BalCompensable"/>
			<xs:enumeration value="WaivedServices"/>
			<xs:enumeration value="ServiceCharges-Discount"/>
			<xs:enumeration value="TaxableServiceCharges"/>
			<xs:enumeration value="TaxTotalSum"/>
			<xs:enumeration value="ChargesAndTaxes-NetDueThisStmnt"/>
			<xs:enumeration value="ServiceCharges-Debited"/>
			<xs:enumeration value="Servicecharges-Invoiced"/>
			<xs:enumeration value="SettleChargeTtl-CurrentPeriod"/>
			<xs:enumeration value="PreviouslyChargedServices"/>
			<xs:enumeration value="FreeServices"/>
			<xs:enumeration value="TtlInterestCredited"/>
			<xs:enumeration value="FeesPaid"/>
			<xs:enumeration value="ServiceChargesDueBeforeTax"/>
			<!--renamed from ServiceCharges-NetDueThisStmnt (0606-62)-->
			<!--added (0606-61)-->
			<!--added (0606-61)-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CompensationMethod">
		<xs:restriction base="xs:string">
			<xs:enumeration value="No"/>
			<xs:enumeration value="Debited"/>
			<xs:enumeration value="Invoiced"/>
			<xs:enumeration value="DelayedDebit"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Country">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CurCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency">
		<xs:annotation>
			<xs:documentation source="ISO4217">A 3 character currency code is ISO 4217</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AED"/>
			<xs:enumeration value="AFN"/>
			<xs:enumeration value="AMD"/>
			<xs:enumeration value="ANG"/>
			<xs:enumeration value="AOA"/>
			<xs:enumeration value="ARS"/>
			<xs:enumeration value="AUD"/>
			<xs:enumeration value="AWG"/>
			<xs:enumeration value="AZM"/>
			<xs:enumeration value="BAM"/>
			<xs:enumeration value="BBD"/>
			<xs:enumeration value="BDT"/>
			<xs:enumeration value="BGN"/>
			<xs:enumeration value="BHD"/>
			<xs:enumeration value="BIF"/>
			<xs:enumeration value="BMD"/>
			<xs:enumeration value="BND"/>
			<xs:enumeration value="BOB"/>
			<xs:enumeration value="BOV"/>
			<xs:enumeration value="BRL"/>
			<xs:enumeration value="BSD"/>
			<xs:enumeration value="BTN"/>
			<xs:enumeration value="BWP"/>
			<xs:enumeration value="BYR"/>
			<xs:enumeration value="BZD"/>
			<xs:enumeration value="CAD"/>
			<xs:enumeration value="CDF"/>
			<xs:enumeration value="CHF"/>
			<xs:enumeration value="CLF"/>
			<xs:enumeration value="CLP"/>
			<xs:enumeration value="CNY"/>
			<xs:enumeration value="COP"/>
			<xs:enumeration value="COU"/>
			<xs:enumeration value="CRC"/>
			<xs:enumeration value="CSD"/>
			<xs:enumeration value="CUC"/>
			<xs:enumeration value="CUP"/>
			<xs:enumeration value="CVE"/>
			<xs:enumeration value="CYP"/>
			<xs:enumeration value="CZK"/>
			<xs:enumeration value="DJF"/>
			<xs:enumeration value="DKK"/>
			<xs:enumeration value="DOP"/>
			<xs:enumeration value="DZD"/>
			<xs:enumeration value="EEK"/>
			<xs:enumeration value="EGP"/>
			<xs:enumeration value="ERN"/>
			<xs:enumeration value="ETB"/>
			<xs:enumeration value="EUR"/>
			<xs:enumeration value="FJD"/>
			<xs:enumeration value="FKP"/>
			<xs:enumeration value="GBP"/>
			<xs:enumeration value="GEL"/>
			<xs:enumeration value="GHC"/>
			<xs:enumeration value="GIP"/>
			<xs:enumeration value="GMD"/>
			<xs:enumeration value="GNF"/>
			<xs:enumeration value="GTQ"/>
			<xs:enumeration value="GWP"/>
			<xs:enumeration value="GYD"/>
			<xs:enumeration value="HKD"/>
			<xs:enumeration value="HNL"/>
			<xs:enumeration value="HRK"/>
			<xs:enumeration value="HTG"/>
			<xs:enumeration value="HUF"/>
			<xs:enumeration value="IDR"/>
			<xs:enumeration value="ILS"/>
			<xs:enumeration value="INR"/>
			<xs:enumeration value="IQD"/>
			<xs:enumeration value="IRR"/>
			<xs:enumeration value="ISK"/>
			<xs:enumeration value="JMD"/>
			<xs:enumeration value="JOD"/>
			<xs:enumeration value="JPY"/>
			<xs:enumeration value="KES"/>
			<xs:enumeration value="KGS"/>
			<xs:enumeration value="KHR"/>
			<xs:enumeration value="KMF"/>
			<xs:enumeration value="KPW"/>
			<xs:enumeration value="KRW"/>
			<xs:enumeration value="KWD"/>
			<xs:enumeration value="KYD"/>
			<xs:enumeration value="KZT"/>
			<xs:enumeration value="LAK"/>
			<xs:enumeration value="LBP"/>
			<xs:enumeration value="LKR"/>
			<xs:enumeration value="LRD"/>
			<xs:enumeration value="LSL"/>
			<xs:enumeration value="LTL"/>
			<xs:enumeration value="LVL"/>
			<xs:enumeration value="LYD"/>
			<xs:enumeration value="MAD"/>
			<xs:enumeration value="MDL"/>
			<xs:enumeration value="MGA"/>
			<xs:enumeration value="MGF"/>
			<xs:enumeration value="MKD"/>
			<xs:enumeration value="MMK"/>
			<xs:enumeration value="MNT"/>
			<xs:enumeration value="MOP"/>
			<xs:enumeration value="MRO"/>
			<xs:enumeration value="MTL"/>
			<xs:enumeration value="MUR"/>
			<xs:enumeration value="MVR"/>
			<xs:enumeration value="MWK"/>
			<xs:enumeration value="MXN"/>
			<xs:enumeration value="MXV"/>
			<xs:enumeration value="MYR"/>
			<xs:enumeration value="MZM"/>
			<xs:enumeration value="NAD"/>
			<xs:enumeration value="NGN"/>
			<xs:enumeration value="NIO"/>
			<xs:enumeration value="NOK"/>
			<xs:enumeration value="NPR"/>
			<xs:enumeration value="NZD"/>
			<xs:enumeration value="OMR"/>
			<xs:enumeration value="PAB"/>
			<xs:enumeration value="PEN"/>
			<xs:enumeration value="PGK"/>
			<xs:enumeration value="PHP"/>
			<xs:enumeration value="PKR"/>
			<xs:enumeration value="PLN"/>
			<xs:enumeration value="PYG"/>
			<xs:enumeration value="QAR"/>
			<xs:enumeration value="ROL"/>
			<xs:enumeration value="RUB"/>
			<xs:enumeration value="RWF"/>
			<xs:enumeration value="SAR"/>
			<xs:enumeration value="SBD"/>
			<xs:enumeration value="SCR"/>
			<xs:enumeration value="SDD"/>
			<xs:enumeration value="SEK"/>
			<xs:enumeration value="SGD"/>
			<xs:enumeration value="SHP"/>
			<xs:enumeration value="SIT"/>
			<xs:enumeration value="SKK"/>
			<xs:enumeration value="SLL"/>
			<xs:enumeration value="SOS"/>
			<xs:enumeration value="SRD"/>
			<xs:enumeration value="STD"/>
			<xs:enumeration value="SVC"/>
			<xs:enumeration value="SYP"/>
			<xs:enumeration value="SZL"/>
			<xs:enumeration value="THB"/>
			<xs:enumeration value="TJS"/>
			<xs:enumeration value="TMM"/>
			<xs:enumeration value="TND"/>
			<xs:enumeration value="TOP"/>
			<xs:enumeration value="TPE"/>
			<xs:enumeration value="TRL"/>
			<xs:enumeration value="TRY"/>
			<xs:enumeration value="TTD"/>
			<xs:enumeration value="TWD"/>
			<xs:enumeration value="TZS"/>
			<xs:enumeration value="UAH"/>
			<xs:enumeration value="UGX"/>
			<xs:enumeration value="USD"/>
			<xs:enumeration value="USN"/>
			<xs:enumeration value="USS"/>
			<xs:enumeration value="UYU"/>
			<xs:enumeration value="UZS"/>
			<xs:enumeration value="VEB"/>
			<xs:enumeration value="VND"/>
			<xs:enumeration value="VUV"/>
			<xs:enumeration value="WST"/>
			<xs:enumeration value="XAF"/>
			<xs:enumeration value="XAG"/>
			<xs:enumeration value="XAU"/>
			<xs:enumeration value="XBA"/>
			<xs:enumeration value="XBB"/>
			<xs:enumeration value="XBC"/>
			<xs:enumeration value="XBD"/>
			<xs:enumeration value="XCD"/>
			<xs:enumeration value="XDR"/>
			<xs:enumeration value="XFO"/>
			<xs:enumeration value="XFU"/>
			<xs:enumeration value="XOF"/>
			<xs:enumeration value="XPD"/>
			<xs:enumeration value="XPF"/>
			<xs:enumeration value="XPT"/>
			<xs:enumeration value="XTS"/>
			<xs:enumeration value="XXX"/>
			<xs:enumeration value="TER"/>
			<xs:enumeration value="ZAR"/>
			<xs:enumeration value="ZMK"/>
			<xs:enumeration value="ZWD"/>
			<xs:enumeration value="ADP"/>
			<xs:enumeration value="AFA"/>
			<xs:enumeration value="AON"/>
			<xs:enumeration value="AOR"/>
			<xs:enumeration value="ATS"/>
			<xs:enumeration value="BEC"/>
			<xs:enumeration value="BEF"/>
			<xs:enumeration value="BGL"/>
			<xs:enumeration value="CSK"/>
			<xs:enumeration value="DDM"/>
			<xs:enumeration value="DEM"/>
			<xs:enumeration value="ECS"/>
			<xs:enumeration value="ECV"/>
			<xs:enumeration value="ESA"/>
			<xs:enumeration value="ESB"/>
			<xs:enumeration value="ESP"/>
			<xs:enumeration value="FIM"/>
			<xs:enumeration value="FRF"/>
			<xs:enumeration value="GRD"/>
			<xs:enumeration value="IEP"/>
			<xs:enumeration value="ITL"/>
			<xs:enumeration value="LUF"/>
			<xs:enumeration value="MXP"/>
			<xs:enumeration value="NLG"/>
			<xs:enumeration value="PLZ"/>
			<xs:enumeration value="PTE"/>
			<xs:enumeration value="RUR"/>
			<xs:enumeration value="SRG"/>
			<xs:enumeration value="SUR"/>
			<xs:enumeration value="XEU"/>
			<xs:enumeration value="YUD"/>
			<xs:enumeration value="YUM"/>
			<xs:enumeration value="ZAL"/>
			<xs:enumeration value="ZRN"/>
			<xs:enumeration value="ZRZ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Account"/>
			<xs:enumeration value="Settlement"/>
			<xs:enumeration value="Pricing"/>
			<xs:enumeration value="Host"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomerTaxId">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateType">
		<xs:annotation>
			<xs:documentation>Value date or tradeDate may be selected.  Default is tradeDate.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="VALUEDATE"/>
			<xs:enumeration value="TRADEDATE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DayCountFraction">
		<xs:annotation>
			<xs:documentation source="http://www.FpML.org" xml:lang="en">The specification for how the number of days between two dates is calculated for purposes of calculation of a fixed or floating payment amount and the basis for how many days are assumed to be in a year. Day Count Fraction is an ISDA term. The equivalent AFB (Association Francaise de Banques) term is Calculation Basis</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="1/1"/>
			<xs:enumeration value="ACT/ACT.ISDA">
				<xs:annotation>
					<xs:documentation source="http://www.FpML.org" xml:lang="en">Per Annex to the 2000 ISDA Definitions (June 2000 Version), Section 4.16. Day Count Fraction, paragraph (b).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ACT/ACT.AFB">
				<xs:annotation>
					<xs:documentation source="http://www.FpML.org" xml:lang="en">The Fixed/Floating Amount will be calculated in accordance with the "BASE EXACT/EXACT" day count fraction, as defined in the "Definitions Communes ?lusieurs Additifs Techniques" published by the Association Fran?se des Banques in September 1994.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ACT/ACT.ISMA">
				<xs:annotation>
					<xs:documentation source="http://www.FpML.org" xml:lang="en">The Fixed/Floating Amount will be calculated in accordance with Rule 251 of the statutes, by-laws, rules and recommendations of the International Securities Market Association, as published in April 1999, as applied to straight and convertible bonds issued after December 31, 1998, as though the Fixed/Floating Amount were the interest coupon on such a bond.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ACT/365.FIXED">
				<xs:annotation>
					<xs:documentation source="http://www.FpML.org" xml:lang="en">Per Annex to the 2000 ISDA Definitions (June 2000 Version), Section 4.16. Day Count Fraction, paragraph (c).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ACT/360">
				<xs:annotation>
					<xs:documentation source="http://www.FpML.org" xml:lang="en">Per Annex to the 2000 ISDA Definitions (June 2000 Version), Section 4.16. Day Count Fraction, paragraph (d).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="30/360">
				<xs:annotation>
					<xs:documentation source="http://www.FpML.org" xml:lang="en">Per Annex to the 2000 ISDA Definitions (June 2000 Version), Section 4.16. Day Count Fraction, paragraph (e).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="30E/360">
				<xs:annotation>
					<xs:documentation source="http://www.FpML.org" xml:lang="en">Per Annex to the 2000 ISDA Definitions (June 2000 Version), Section 4.16. Day Count Fraction, paragraph (f).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DaysInPeriod">
		<xs:restriction base="xs:long">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DaysInYear">
		<xs:restriction base="xs:long">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DebitAccount">
		<xs:restriction base="xs:string">
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DomicileBankIdentifier">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DomicileBankQualifier">
		<xs:restriction base="xs:string">
			<xs:enumeration value="13"/>
			<xs:enumeration value="CF"/>
			<xs:enumeration value="SW"/>
			<xs:enumeration value="DUNS"/>
			<xs:enumeration value="AC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Email">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FITaxRegistrationNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FIVATRegistrationNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FxTenor">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SD"/>
			<xs:enumeration value="TOD"/>
			<xs:enumeration value="ND"/>
			<xs:enumeration value="TOM"/>
			<xs:enumeration value="SP"/>
			<xs:enumeration value="SN"/>
			<xs:enumeration value="1W"/>
			<xs:enumeration value="2W"/>
			<xs:enumeration value="3W"/>
			<xs:enumeration value="1M"/>
			<xs:enumeration value="2M"/>
			<xs:enumeration value="3M"/>
			<xs:enumeration value="4M"/>
			<xs:enumeration value="5M"/>
			<xs:enumeration value="6M"/>
			<xs:enumeration value="7M"/>
			<xs:enumeration value="8M"/>
			<xs:enumeration value="9M"/>
			<xs:enumeration value="10M"/>
			<xs:enumeration value="11M"/>
			<xs:enumeration value="1Y"/>
			<xs:enumeration value="2Y"/>
			<xs:enumeration value="3Y"/>
			<xs:enumeration value="4Y"/>
			<xs:enumeration value="5Y"/>
			<xs:enumeration value="6Y"/>
			<xs:enumeration value="7Y"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IBAN">
		<xs:restriction base="xs:string">
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IndustIdNum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IndustIdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SIC"/>
			<xs:enumeration value="NAICS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InstructionPriority">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH"/>
			<xs:enumeration value="NORM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LinkIdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PARENT"/>
			<xs:enumeration value="BACK TO BACK"/>
			<xs:enumeration value="AMENDED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderId">
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="OrderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MARKET"/>
			<xs:enumeration value="LIMIT"/>
			<xs:enumeration value="STOPLOSS"/>
			<xs:enumeration value="BENCHMARK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrgIdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DUNS"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="AC"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="CF"/>
			<xs:enumeration value="SW"/>
			<xs:enumeration value="ZZ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OwnerResidence">
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ParentAccountNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ParentLevel">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Intermediate"/>
			<xs:enumeration value="Summary"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PartyId">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PaymentClearingHouseIndicator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACH"/>
			<xs:enumeration value="RTGS"/>
			<xs:enumeration value="FedNet"/>
			<xs:enumeration value="CHIPS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentConditionIndicator">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentGeographicalArea">
		<xs:restriction base="xs:string">
			<xs:enumeration value="international"/>
			<xs:enumeration value="domestic"/>
			<xs:enumeration value="eurodomestic"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentMethod">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BalanceCompensable"/>
			<xs:enumeration value="HardCharge"/>
			<xs:enumeration value="PreviouslyCharged"/>
			<xs:enumeration value="Waived"/>
			<xs:enumeration value="Free"/>
			<xs:enumeration value="InvoicedSeparately"/>
			<!--added (0606-72)-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentPurpose">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADVA"/>
			<xs:enumeration value="AGRT"/>
			<xs:enumeration value="ALMY"/>
			<xs:enumeration value="BECH"/>
			<xs:enumeration value="BENE"/>
			<xs:enumeration value="BONU"/>
			<xs:enumeration value="CASH"/>
			<xs:enumeration value="CBFF"/>
			<xs:enumeration value="CHAR"/>
			<xs:enumeration value="CMDT"/>
			<xs:enumeration value="COLL"/>
			<xs:enumeration value="COMC"/>
			<xs:enumeration value="COMM"/>
			<xs:enumeration value="COMT"/>
			<xs:enumeration value="COST"/>
			<xs:enumeration value="CPYR"/>
			<xs:enumeration value="DBTC"/>
			<xs:enumeration value="DIVI"/>
			<xs:enumeration value="FREX"/>
			<xs:enumeration value="GDDS"/>
			<xs:enumeration value="GOVT"/>
			<xs:enumeration value="HEDG"/>
			<xs:enumeration value="IHRP"/>
			<xs:enumeration value="INSU"/>
			<xs:enumeration value="INTC"/>
			<xs:enumeration value="INTE"/>
			<xs:enumeration value="LICF"/>
			<xs:enumeration value="LOAN"/>
			<xs:enumeration value="LOAR"/>
			<xs:enumeration value="NETT"/>
			<xs:enumeration value="PAYR"/>
			<xs:enumeration value="PENS"/>
			<xs:enumeration value="REFU"/>
			<xs:enumeration value="RENT"/>
			<xs:enumeration value="ROYA"/>
			<xs:enumeration value="SALA"/>
			<xs:enumeration value="SCVE"/>
			<xs:enumeration value="SECU"/>
			<xs:enumeration value="SSBE"/>
			<xs:enumeration value="SUBS"/>
			<xs:enumeration value="SUPP"/>
			<xs:enumeration value="TAXS"/>
			<xs:enumeration value="TREA"/>
			<xs:enumeration value="VATX"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentRemittanceDetailsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FAXI"/>
			<xs:enumeration value="EDIC"/>
			<xs:enumeration value="URID"/>
			<xs:enumeration value="EMAL"/>
			<xs:enumeration value="POST"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INTEREST"/>
			<xs:enumeration value="TAX"/>
			<xs:enumeration value="PRINCIPAL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentTypeCP">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRF"/>
			<xs:enumeration value="CHK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PostCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PrefMethod">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Email"/>
			<xs:enumeration value="Letter"/>
			<xs:enumeration value="Phone"/>
			<xs:enumeration value="Fax"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriceMethod">
		<xs:restriction base="xs:string">
			<xs:enumeration value="UnitPriced"/>
			<xs:enumeration value="StampDuty"/>
			<xs:enumeration value="BaseCharge"/>
			<xs:enumeration value="DiscountPrice"/>
			<xs:enumeration value="FlatCharge"/>
			<xs:enumeration value="ListPrice"/>
			<xs:enumeration value="MinimumCharge"/>
			<xs:enumeration value="MaximumReduction"/>
			<xs:enumeration value="Tier1"/>
			<xs:enumeration value="Tier2"/>
			<xs:enumeration value="Tier3"/>
			<xs:enumeration value="Tier4"/>
			<xs:enumeration value="Tier5"/>
			<xs:enumeration value="Tier6"/>
			<xs:enumeration value="Tier7"/>
			<xs:enumeration value="Tier8"/>
			<xs:enumeration value="Tier9"/>
			<xs:enumeration value="ThresholdPrice"/>
			<xs:enumeration value="ZonePrice"/>
			<xs:enumeration value="BalanceBased"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriceRequestId">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PriceResponseId">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PriceRule">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Priority">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH"/>
			<xs:enumeration value="NORM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QuoteBasis">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CURRENCY1PERCURRENCY2"/>
			<xs:enumeration value="CURRENCY2PERCURRENCY1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Rate">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="RateDescription">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RateIdentifier">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EarningsAllowanceRate"/>
			<xs:enumeration value="AdjustedEarningsAllowanceRate"/>
			<xs:enumeration value="Multiplier"/>
			<xs:enumeration value="NegativeLedgerOverdraftRate"/>
			<xs:enumeration value="NegativeCollectedOverdraftRate"/>
			<xs:enumeration value="UncollectedFundsUsageRate"/>
			<xs:enumeration value="InterestCreditedRate"/>
			<xs:enumeration value="NetLedgerBalanceOverdraftRate"/>
			<xs:enumeration value="NetCollectedBalanceOverdraftRate"/>
			<xs:enumeration value="ReserveRequirementRate"/>
			<xs:enumeration value="NextMonthEarningsAllowanceRate"/>
			<xs:enumeration value="AdjustedNextMonthEarningsRate"/>
			<xs:enumeration value="NextMonthMultiplier"/>
			<xs:enumeration value="FDICRate"/>
			<xs:enumeration value="PrimeRate"/>
			<xs:enumeration value="ReserveRequirementRate-NonDDA"/>
			<xs:enumeration value="CDRate"/>
			<xs:enumeration value="DeficiencyInterestRate"/>
			<xs:enumeration value="DeficiencySurchargeRate"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RateValue">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="RDDocumentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="RADM"/>
			<xs:enumeration value="RPIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="FXDR"/>
			<xs:enumeration value="SOAC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReserveId">
		<xs:annotation>
			<xs:documentation>If a reserve is established this unique id will be used in the replenish and drawdown messages to remove the reserve.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="ServiceAdjustmentDescription">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceAdjustmentId">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceAdjustmentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Compensable"/>
			<xs:enumeration value="NonCompensable"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceDescription">
		<xs:restriction base="xs:string">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceTaxRegion">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SettlementAdvice">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SideRateBasis">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="StatementStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Original"/>
			<xs:enumeration value="Replace"/>
			<xs:enumeration value="Test"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubServiceCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubServiceQualifier">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Lockbox"/>
			<xs:enumeration value="Store"/>
			<xs:enumeration value="MutallyDefined"/>
			<xs:enumeration value="SequenceNumber"/>
			<xs:enumeration value="MemberAccount"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxCalculationMethod">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NoTaxes"/>
			<xs:enumeration value="BSBMethodA"/>
			<xs:enumeration value="BSBMethodB"/>
			<xs:enumeration value="BSBMethodC"/>
			<xs:enumeration value="BSBMethodD"/>
			<xs:enumeration value="Undefined"/>
			<!--added 0606-66)-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxDesignation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Exempt"/>
			<xs:enumeration value="ZeroRated"/>
			<xs:enumeration value="Taxable"/>
		</xs:restriction>
		<!--corrected definition to enumeration of 3 elements previously in ZeroRatedCode (0606-67)-->
	</xs:simpleType>
	<xs:simpleType name="TaxIdentifierDescription">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxIdentifierNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxIdentifierRate">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="TaxInvoiceNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxReasonCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxReasonExplanation">
		<xs:restriction base="xs:string">
			<xs:maxLength value="90"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxReferenceNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxRegionCode">
		<xs:annotation>
			<xs:documentation>Changed from string max 30 to string max 40 per 0906-8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxRegionName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxRegionNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxRegionResident">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text">
		<xs:annotation>
			<xs:documentation>This is text that comments on some subject.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TradeId">
		<xs:annotation>
			<xs:documentation>This is a string used to idetify a trade.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TransactionOrgId">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TranslationValue">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="UPIC">
		<xs:restriction base="xs:string">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ValueDate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="Volume">
		<xs:restriction base="xs:long">
			<xs:totalDigits value="15"/>
			<!--added total digit 3 restriction (0606-71)-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WHTCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZeroRatedCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
		<!--corrected definition to string max 10 previously in TaxDesignation (0606-68)-->
	</xs:simpleType>
	<!--	<xs:simpleType name="AddrLine">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="addrLine" type="AddrLine"/>
	<xs:element name="addrLine2" type="AddrLine"/>
	<xs:simpleType name="City">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="city" type="City"/>
	<xs:simpleType name="StateProvince">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="stateProvince" type="StateProvince"/>
	<xs:simpleType name="PostCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="postCode" type="PostCode"/>  
	<xs:simpleType name="Country">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="country" type="Country"/>
	<xs:simpleType name="ContactName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="contactName" type="ContactName"/>
	<xs:simpleType name="EmailAddress">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="emailAddress" type="EmailAddress"/>
-->
</xs:schema>
