SampleData/oagis/9.2/Release/Resources/Nouns/CarrierRoute.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2   **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    This is an OAGIS® BOD XML Schema (XSD) Definition.

    License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

    For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
    XML Schema 
     
    Name: /OAGIS/9_2/Resources/Nouns/CarrierRoute.xsd
-->
		
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/9" targetNamespace="http://www.openapplications.org/oagis/9" elementFormDefault="qualified">
        <xsd:include schemaLocation="../Components/Operational/LogisticsComponents.xsd"/>
        <xsd:element name="CarrierRoute" type="CarrierRouteType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Describes a scheduled journey that a particular goods transportation service provider (freight carrier) is requested to perform on the behalf of a shipper, customer or other transportation corrdinator. The journey may contain one or more stops.

There are many possible business applications in several environments that may use this capability.

A CarrierRoute is typically generated by a transportation planning system to coordinate and optimize the movement of many goods shipment to reduce overall freight cost, improve overall delivery schedules, and ensure that a carrier's equipment is utilized efficiently.

Other business systems typically interested in a CarrierRoute document include supply chain execution, supply chain visibility, warehouse management, and transportaion management systems.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:element name="RouteStop" type="RouteStopType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides information pertaining to a particular pickup or delivery stop along the journey of a routed shipment.

Each instance of the RouteStop pertains to a single physical destination shipping location and requires a subordinate ShipToParty.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:element name="StopDetail" type="StopDetailType"/>
        <xsd:element name="RouteType" type="CodeType"/>
        <xsd:complexType name="CarrierRouteType">
                <xsd:complexContent>
                        <xsd:extension base="HeaderType">
                                <xsd:sequence>
                                        <xsd:element ref="TrackingID" minOccurs="0"/>
                                        <xsd:element ref="RouteType" minOccurs="0"/>
                                        <xsd:element ref="ActualShipDateTime" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Is the date that is used to identify the actual date and time a shipment occurs.</xsd:documentation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Is the date that is used to identify the actual date and time a shipment occurs.</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element ref="ScheduledDeliveryDateTime" minOccurs="0"/>
                                        <xsd:element ref="ActualDeliveryDateTime" minOccurs="0"/>
                                        <xsd:element ref="RequiredDeliveryDateTime" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Is the date that the business partner is requesting delivery of goods to arrive.</xsd:documentation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Is the date that the business partner is requesting delivery of goods to arrive.</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element ref="PromisedDeliveryDateTime" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Is the date that the supplier business partner promises delivery of goods</xsd:documentation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Is the date that the business partner is supplying goods promises delivery of goods to arrive.</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element ref="LoadingDateTime" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Is the date that is used to mark the date and time a shipment loading process is complete.</xsd:documentation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Is the date that is used to mark the date and time a shipment loading process is complete.</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element ref="EarliestShipDateTime" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">This identifies the earliest possible date at which a shipment can be made.  This may be used in conjunction with the ShipPriorToDueDateInd which indicates that the item, shipping unit or delivery may be shipped early.</xsd:documentation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">This identifies the earliest possible date at which a shipment can be made.  This may be used in conjunction with the ShipPriorToDueDateInd which indicates that the item, shipping unit or delivery may be shipped early.</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element ref="PromisedShipDateTime" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Is the date the business partner supplying goods is promising goods to be shipped.</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element ref="ScheduledShipDateTime" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Identifies the date on which the goods are scheduled to be shipped.</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element ref="PointOfLoadingCode" minOccurs="0"/>
                                        <xsd:element ref="PointOfShipmentCode" minOccurs="0"/>
                                        <xsd:element ref="PointOfStagingCode" minOccurs="0"/>
                                        <xsd:element ref="TransportationMethodCode" minOccurs="0"/>
                                        <xsd:element ref="TransportationTerm" minOccurs="0"/>
                                        <xsd:group ref="ShippingWeightAndVolumeGroup" minOccurs="0"/>
                                        <xsd:element ref="Container" minOccurs="0"/>
                                        <xsd:element ref="Status" minOccurs="0"/>
                                        <xsd:element ref="Charge" minOccurs="0"/>
                                        <xsd:element ref="Party" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="RouteStop" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="UserArea" minOccurs="0"/>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="RouteStopType">
                <xsd:sequence>
                        <xsd:element ref="ID" minOccurs="0"/>
                        <xsd:element ref="SequenceCode" minOccurs="0"/>
                        <xsd:element ref="TrackingID" minOccurs="0"/>
                        <xsd:element ref="ContainerID" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:group ref="FreeFormTextGroup" minOccurs="0"/>
                        <xsd:group ref="ShippingWeightAndVolumeGroup" minOccurs="0"/>
                        <xsd:element ref="HazardousMaterial" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element ref="Charge" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element ref="Party" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element ref="DocumentReference" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element ref="StopDetail" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element ref="UserArea" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute name="type" type="NormalizedStringType"/>
        </xsd:complexType>
        <xsd:complexType name="StopDetailType">
                <xsd:sequence>
                        <xsd:element ref="BillOfLadingID" minOccurs="0"/>
                        <xsd:element ref="ContainerID" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:group ref="FreeFormTextGroup" minOccurs="0"/>
                        <xsd:element ref="TrackingID" minOccurs="0"/>
                        <xsd:element ref="ShipToParty" minOccurs="0"/>
                        <xsd:element ref="Party" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element ref="ShipUnitReference" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element ref="ShipmentReference" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:group ref="ReferencesGroup" minOccurs="0"/>
                        <xsd:element ref="BillOfLadingReference" minOccurs="0"/>
                        <xsd:element ref="UserArea" minOccurs="0"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
