SampleData/hr-xml/HR-XML-3_0/org_openapplications_platform/1_0/Common/ISO/ISO20022/$pain.002.001.01.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--




   Schema agency: 	Open Applications Group 


   OAGIS® Revision:    9.3  
   Date:               11 August 2008 
   Copyright 1997-2008, All Rights Reserved 

  	
   Copyright (C) Open Applications Group (1997-2008). All Rights Reserved.
  
  
   This is an OAGIS® BOD XML Schema (XSD) Definition.

   License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

   For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
   XML Schema 
     
    Name: /OAGi-BPI-Platform/org_openapplications_platform/1_0/Common/ISO/ISO20022/$pain.002.001.01.xsd
-->
		
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:$pain.002.001.01" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:$pain.002.001.01">
        <xs:element name="Document" type="Document"/>
        <xs:complexType name="Document">
                <xs:sequence>
                        <xs:element name="pain.002.001.01" type="pain.002.001.01"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="pain.002.001.01">
                <xs:sequence>
                        <xs:element name="GnlInf" type="GeneralInformation1"/>
                        <xs:element name="OrgnlGrpRefInfAndSts" type="OriginalGroupReferenceInformation1"/>
                        <xs:element name="OrgnlPmtInf" type="PaymentInformation9" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="GeneralInformation1">
                <xs:sequence>
                        <xs:element name="PmtInitnStsId" type="Max35Text"/>
                        <xs:element name="CreDtTm" type="ISODateTime"/>
                        <xs:element name="FwdgAgt" type="BranchAndFinancialInstitutionIdentification" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="InitgPty" type="PartyIdentification1"/>
                        <xs:element name="FrstAgt" type="BranchAndFinancialInstitutionIdentification" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="PaymentInformation9">
                <xs:sequence>
                        <xs:element name="ReqdExctnDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="PmtMtdByFrstAgt" type="PaymentMethod1Code" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="CdtTrfTpId" type="CreditTransferTypeIdentification" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="Dbtr" type="PartyIdentification1" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="DbtrAcct" type="CashAccount3" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="OrgnlTxRefInfAndSts" type="PaymentReference1" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="PaymentReference1">
                <xs:sequence>
                        <xs:element name="PmtId" type="PaymentIdentification"/>
                        <xs:element name="TxSts" type="PaymentTransactionStatusCode" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="StsRsn" type="PaymentReject1Code" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="AddtlInf" type="Max105Text" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="OrgnlTxInf" type="OriginalTransactionInformation1" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <xs:simpleType name="PaymentMethod1Code">
                <xs:restriction base="PaymentMethodCode">
                        <xs:enumeration value="CHK"/>
                        <xs:enumeration value="TRF"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="PaymentMethodCode">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="CHK"/>
                        <xs:enumeration value="TRF"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:complexType name="OriginalGroupReferenceInformation1">
                <xs:sequence>
                        <xs:element name="GrpId" type="Max35Text"/>
                        <xs:element name="OrgnlMsgTp" type="Max35Text"/>
                        <xs:element name="GrpSts" type="PaymentGroupStatusCode" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="StsRsn" type="PaymentReject1Code" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="AddtlInf" type="Max105Text" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <xs:simpleType name="PaymentReject1Code">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="AC01"/>
                        <xs:enumeration value="AC02"/>
                        <xs:enumeration value="AC03"/>
                        <xs:enumeration value="AC04"/>
                        <xs:enumeration value="AC05"/>
                        <xs:enumeration value="AC06"/>
                        <xs:enumeration value="AM01"/>
                        <xs:enumeration value="AM02"/>
                        <xs:enumeration value="AM03"/>
                        <xs:enumeration value="AM04"/>
                        <xs:enumeration value="AM05"/>
                        <xs:enumeration value="AM06"/>
                        <xs:enumeration value="AM07"/>
                        <xs:enumeration value="AM08"/>
                        <xs:enumeration value="BE01"/>
                        <xs:enumeration value="BE02"/>
                        <xs:enumeration value="BE03"/>
                        <xs:enumeration value="BE04"/>
                        <xs:enumeration value="BE05"/>
                        <xs:enumeration value="AG01"/>
                        <xs:enumeration value="AG02"/>
                        <xs:enumeration value="DT01"/>
                        <xs:enumeration value="MS01"/>
                        <xs:enumeration value="PY01"/>
                        <xs:enumeration value="RF01"/>
                        <xs:enumeration value="RC01"/>
                        <xs:enumeration value="RC02"/>
                        <xs:enumeration value="RC03"/>
                        <xs:enumeration value="RC04"/>
                        <xs:enumeration value="TM01"/>
                        <xs:enumeration value="ED01"/>
                        <xs:enumeration value="ED02"/>
                        <xs:enumeration value="ED03"/>
                        <xs:enumeration value="ED04"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:complexType name="CreditTransferTypeIdentification">
                <xs:sequence>
                        <xs:choice>
                                <xs:element name="Cd" type="CreditTransferType2Code" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="LclInstrm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
                        </xs:choice>
                        <xs:element name="InstrPrty" type="Priority2Code" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="SttlmPrty" type="SettlementPriorityChoice" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="SettlementPriorityChoice">
                <xs:sequence>
                        <xs:choice>
                                <xs:element name="Prty" type="Priority2Code"/>
                                <xs:element name="PmtSchme" type="PaymentSchemeChoice"/>
                        </xs:choice>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="PaymentSchemeChoice">
                <xs:sequence>
                        <xs:choice>
                                <xs:element name="Cd" type="CashClearingSystem2Code"/>
                                <xs:element name="PrtryInf" type="Max35Text"/>
                        </xs:choice>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="PaymentIdentification">
                <xs:sequence>
                        <xs:element name="InstrId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="EndToEndId" type="Max35Text"/>
                        <xs:element name="PmtRmtId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="OriginalTransactionInformation1">
                <xs:sequence>
                        <xs:element name="Amt" type="AmountType1Choice"/>
                        <xs:element name="Cdtr" type="PartyIdentification1" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="CdtrAcct" type="CashAccount3" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="FnlAgt" type="BranchAndFinancialInstitutionIdentification" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="BranchAndFinancialInstitutionIdentification">
                <xs:sequence>
                        <xs:element name="FinInstnId" type="FinancialInstitutionIdentification1"/>
                        <xs:element name="BrnchId" type="BranchData" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="FinancialInstitutionIdentification1">
                <xs:sequence>
                        <xs:element name="BIC" type="BICIdentifier" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="PstlAdr" type="PostalAddress1" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="PrtryId" type="GenericIdentification3" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="ClearingSystemMemberIdentificationChoice">
                <xs:sequence>
                        <xs:choice>
                                <xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
                                <xs:element name="NZNCC" type="NewZealandNCCIdentifier"/>
                                <xs:element name="IENSC" type="IrishNSCIdentifier"/>
                                <xs:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
                                <xs:element name="USCH" type="CHIPSParticipantIdentifier"/>
                                <xs:element name="CHBC" type="SwissBCIdentifier"/>
                                <xs:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
                                <xs:element name="PTNCC" type="PortugueseNCCIdentifier"/>
                                <xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
                                <xs:element name="ITNCC" type="ItalianDomesticIdentifier"/>
                                <xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
                                <xs:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
                                <xs:element name="CHSIC" type="SwissSICIdentifier"/>
                                <xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
                                <xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
                                <xs:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
                                <xs:element name="HKNCC" type="HongKongBankIdentifier"/>
                                <xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
                                <xs:element name="AUBSBs" type="SmallNetworkIdentifier"/>
                        </xs:choice>
                </xs:sequence>
        </xs:complexType>
        <xs:simpleType name="ExtensiveBranchNetworkIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="AU[0-9]{6,6}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="HongKongBankIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="HK[0-9]{3,3}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="SouthAfricanNCCIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="ZA[0-9]{6,6}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="SpanishDomesticInterbankingIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="ES[0-9]{8,9}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="AustrianBankleitzahlIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="AT[0-9]{5,5}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="ItalianDomesticIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="IT[0-9]{10,10}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="RU[0-9]{9,9}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="PortugueseNCCIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="PT[0-9]{8,8}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="FedwireRoutingNumberIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="FW[0-9]{9,9}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="SwissBCIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="SW[0-9]{3,5}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="CHIPSParticipantIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="CP[0-9]{4,4}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="UKDomesticSortCodeIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="SC[0-9]{6,6}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="IrishNSCIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="IE[0-9]{6,6}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="NewZealandNCCIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="NZ[0-9]{6,6}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="BICIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:complexType name="PartyIdentification1">
                <xs:sequence>
                        <xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="PstlAdr" type="PostalAddress1" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="Id" type="Party1Choice" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="Party1Choice">
                <xs:sequence>
                        <xs:choice>
                                <xs:element name="OrgId" type="NonFinancialInstitutionIdentification1"/>
                                <xs:element name="PrvtId" type="PersonIdentification2" minOccurs="1" maxOccurs="2"/>
                        </xs:choice>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="PersonIdentification2">
                <xs:sequence>
                        <xs:choice>
                                <xs:element name="DrvrsLicNb" type="Max35Text"/>
                                <xs:element name="SclSctyNb" type="Max35Text"/>
                                <xs:element name="AlnRegnNb" type="Max35Text"/>
                                <xs:element name="PsptNb" type="Max35Text"/>
                                <xs:element name="TaxIdNb" type="Max35Text"/>
                                <xs:element name="IdntyCardNb" type="Max35Text"/>
                                <xs:element name="MplyrIdNb" type="Max35Text"/>
                                <xs:element name="OthrId" type="GenericIdentification4"/>
                        </xs:choice>
                        <xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="GenericIdentification4">
                <xs:sequence>
                        <xs:element name="Id" type="Max35Text"/>
                        <xs:element name="IdTp" type="Max35Text"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="NonFinancialInstitutionIdentification1">
                <xs:sequence>
                        <xs:element name="BEI" type="BEIIdentifier" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="EANGLN" type="EANGLNIdentifier" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="USCHU" type="CHIPSUniversalIdentifier" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="DUNS" type="DunsIdentifier" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="BkPtyId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="TaxIdNb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="PrtryId" type="GenericIdentification3" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="GenericIdentification3">
                <xs:sequence>
                        <xs:element name="Id" type="Max35Text"/>
                        <xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <xs:simpleType name="DunsIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{9,9}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="CHIPSUniversalIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="CH[0-9]{6,6}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="PaymentGroupStatusCode">
                <xs:restriction base="PaymentStatusCode">
                        <xs:enumeration value="ACTC"/>
                        <xs:enumeration value="RCVD"/>
                        <xs:enumeration value="PART"/>
                        <xs:enumeration value="RJCT"/>
                        <xs:enumeration value="PDNG"/>
                        <xs:enumeration value="ACCP"/>
                        <xs:enumeration value="ACSP"/>
                        <xs:enumeration value="ACSC"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="PaymentStatusCode">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="ACTC"/>
                        <xs:enumeration value="RCVD"/>
                        <xs:enumeration value="PART"/>
                        <xs:enumeration value="RJCT"/>
                        <xs:enumeration value="PDNG"/>
                        <xs:enumeration value="ACCP"/>
                        <xs:enumeration value="ACSP"/>
                        <xs:enumeration value="ACSC"/>
                        <xs:enumeration value="ACPT"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="PaymentCancellationStatusCode">
                <xs:restriction base="PaymentStatusCode">
                        <xs:enumeration value="RJCT"/>
                        <xs:enumeration value="PDNG"/>
                        <xs:enumeration value="ACPT"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="PaymentTransactionStatusCode">
                <xs:restriction base="PaymentStatusCode">
                        <xs:enumeration value="ACTC"/>
                        <xs:enumeration value="RJCT"/>
                        <xs:enumeration value="PDNG"/>
                        <xs:enumeration value="ACCP"/>
                        <xs:enumeration value="ACSP"/>
                        <xs:enumeration value="ACSC"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:complexType name="CashAccount3">
                <xs:sequence>
                        <xs:element name="Id" type="AccountIdentification1Choice"/>
                        <xs:element name="Tp" type="CashAccountType3Code" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="Ccy" type="CurrencyCode" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="AccountIdentification1Choice">
                <xs:sequence>
                        <xs:choice>
                                <xs:element name="IBAN" type="IBANIdentifier"/>
                                <xs:element name="BBAN" type="BBANIdentifier"/>
                                <xs:element name="UPIC" type="UPICIdentifier"/>
                                <xs:element name="DmstAcct" type="SimpleIdentificationInformation"/>
                        </xs:choice>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="SimpleIdentificationInformation">
                <xs:sequence>
                        <xs:element name="Id" type="Max35Text"/>
                </xs:sequence>
        </xs:complexType>
        <xs:simpleType name="UPICIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{8,17}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="BBANIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="IBANIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="CashClearingSystemCode">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="ABE"/>
                        <xs:enumeration value="ART"/>
                        <xs:enumeration value="AVP"/>
                        <xs:enumeration value="AZM"/>
                        <xs:enumeration value="BAP"/>
                        <xs:enumeration value="BEL"/>
                        <xs:enumeration value="BOF"/>
                        <xs:enumeration value="BRL"/>
                        <xs:enumeration value="CAD"/>
                        <xs:enumeration value="CAM"/>
                        <xs:enumeration value="CBJ"/>
                        <xs:enumeration value="CHP"/>
                        <xs:enumeration value="DKC"/>
                        <xs:enumeration value="RTP"/>
                        <xs:enumeration value="EBA"/>
                        <xs:enumeration value="ELS"/>
                        <xs:enumeration value="ERP"/>
                        <xs:enumeration value="XCT"/>
                        <xs:enumeration value="HRK"/>
                        <xs:enumeration value="HRM"/>
                        <xs:enumeration value="HUF"/>
                        <xs:enumeration value="LGS"/>
                        <xs:enumeration value="LVL"/>
                        <xs:enumeration value="MOS"/>
                        <xs:enumeration value="MUP"/>
                        <xs:enumeration value="NOC"/>
                        <xs:enumeration value="PCH"/>
                        <xs:enumeration value="PDS"/>
                        <xs:enumeration value="PEG"/>
                        <xs:enumeration value="PNS"/>
                        <xs:enumeration value="PVE"/>
                        <xs:enumeration value="SEC"/>
                        <xs:enumeration value="SIT"/>
                        <xs:enumeration value="SLB"/>
                        <xs:enumeration value="SPG"/>
                        <xs:enumeration value="SSK"/>
                        <xs:enumeration value="TBF"/>
                        <xs:enumeration value="TGT"/>
                        <xs:enumeration value="TOP"/>
                        <xs:enumeration value="FDW"/>
                        <xs:enumeration value="BOJ"/>
                        <xs:enumeration value="FEY"/>
                        <xs:enumeration value="ZEN"/>
                        <xs:enumeration value="RTG"/>
                        <xs:enumeration value="ACH"/>
                        <xs:enumeration value="CHI"/>
                        <xs:enumeration value="FDN"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="CashClearingSystem2Code">
                <xs:restriction base="CashClearingSystemCode">
                        <xs:enumeration value="RTG"/>
                        <xs:enumeration value="ACH"/>
                        <xs:enumeration value="CHI"/>
                        <xs:enumeration value="FDN"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="CashClearingSystem1Code">
                <xs:restriction base="CashClearingSystemCode">
                        <xs:enumeration value="ABE"/>
                        <xs:enumeration value="ART"/>
                        <xs:enumeration value="AVP"/>
                        <xs:enumeration value="AZM"/>
                        <xs:enumeration value="BAP"/>
                        <xs:enumeration value="BEL"/>
                        <xs:enumeration value="BOF"/>
                        <xs:enumeration value="BRL"/>
                        <xs:enumeration value="CAD"/>
                        <xs:enumeration value="CAM"/>
                        <xs:enumeration value="CBJ"/>
                        <xs:enumeration value="CHP"/>
                        <xs:enumeration value="DKC"/>
                        <xs:enumeration value="RTP"/>
                        <xs:enumeration value="EBA"/>
                        <xs:enumeration value="ELS"/>
                        <xs:enumeration value="ERP"/>
                        <xs:enumeration value="XCT"/>
                        <xs:enumeration value="HRK"/>
                        <xs:enumeration value="HRM"/>
                        <xs:enumeration value="HUF"/>
                        <xs:enumeration value="LGS"/>
                        <xs:enumeration value="LVL"/>
                        <xs:enumeration value="MOS"/>
                        <xs:enumeration value="MUP"/>
                        <xs:enumeration value="NOC"/>
                        <xs:enumeration value="PCH"/>
                        <xs:enumeration value="PDS"/>
                        <xs:enumeration value="PEG"/>
                        <xs:enumeration value="PNS"/>
                        <xs:enumeration value="PVE"/>
                        <xs:enumeration value="SEC"/>
                        <xs:enumeration value="SIT"/>
                        <xs:enumeration value="SLB"/>
                        <xs:enumeration value="SPG"/>
                        <xs:enumeration value="SSK"/>
                        <xs:enumeration value="TBF"/>
                        <xs:enumeration value="TGT"/>
                        <xs:enumeration value="TOP"/>
                        <xs:enumeration value="FDW"/>
                        <xs:enumeration value="BOJ"/>
                        <xs:enumeration value="FEY"/>
                        <xs:enumeration value="ZEN"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="SmallNetworkIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="AU[0-9]{6,6}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="ISODateTime">
                <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
        <xs:simpleType name="BEIIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="ISODate">
                <xs:restriction base="xs:date"/>
        </xs:simpleType>
        <xs:simpleType name="EANGLNIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{13,13}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="CashAccountTypeCode">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="CASH"/>
                        <xs:enumeration value="CHAR"/>
                        <xs:enumeration value="COMM"/>
                        <xs:enumeration value="TAXE"/>
                        <xs:enumeration value="CISH"/>
                        <xs:enumeration value="TRAS"/>
                        <xs:enumeration value="SACC"/>
                        <xs:enumeration value="CACC"/>
                        <xs:enumeration value="SVGS"/>
                        <xs:enumeration value="ONDP"/>
                        <xs:enumeration value="MGLD"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="CashAccountType3Code">
                <xs:restriction base="CashAccountTypeCode">
                        <xs:enumeration value="CASH"/>
                        <xs:enumeration value="CHAR"/>
                        <xs:enumeration value="SACC"/>
                        <xs:enumeration value="CACC"/>
                        <xs:enumeration value="SVGS"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="CashAccountType2Code">
                <xs:restriction base="CashAccountTypeCode">
                        <xs:enumeration value="CASH"/>
                        <xs:enumeration value="CHAR"/>
                        <xs:enumeration value="COMM"/>
                        <xs:enumeration value="TAXE"/>
                        <xs:enumeration value="CISH"/>
                        <xs:enumeration value="TRAS"/>
                        <xs:enumeration value="SACC"/>
                        <xs:enumeration value="CACC"/>
                        <xs:enumeration value="SVGS"/>
                        <xs:enumeration value="ONDP"/>
                        <xs:enumeration value="MGLD"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="CashAccountType1Code">
                <xs:restriction base="CashAccountTypeCode">
                        <xs:enumeration value="SACC"/>
                        <xs:enumeration value="CACC"/>
                        <xs:enumeration value="SVGS"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="GermanBankleitzahlIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="BL[0-9]{8,8}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="CreditTransferTypeCode">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="INTC"/>
                        <xs:enumeration value="CORT"/>
                        <xs:enumeration value="SALA"/>
                        <xs:enumeration value="TREA"/>
                        <xs:enumeration value="CMSW"/>
                        <xs:enumeration value="CMTO"/>
                        <xs:enumeration value="CMZB"/>
                        <xs:enumeration value="ADVA"/>
                        <xs:enumeration value="AGRT"/>
                        <xs:enumeration value="ALMY"/>
                        <xs:enumeration value="BECH"/>
                        <xs:enumeration value="BENE"/>
                        <xs:enumeration value="BONU"/>
                        <xs:enumeration value="CASH"/>
                        <xs:enumeration value="CBFF"/>
                        <xs:enumeration value="CHAR"/>
                        <xs:enumeration value="CMDT"/>
                        <xs:enumeration value="COMC"/>
                        <xs:enumeration value="COMM"/>
                        <xs:enumeration value="COST"/>
                        <xs:enumeration value="CPYR"/>
                        <xs:enumeration value="DIVI"/>
                        <xs:enumeration value="FREX"/>
                        <xs:enumeration value="GDDS"/>
                        <xs:enumeration value="GOVT"/>
                        <xs:enumeration value="IHRP"/>
                        <xs:enumeration value="INSU"/>
                        <xs:enumeration value="INTE"/>
                        <xs:enumeration value="LICF"/>
                        <xs:enumeration value="LOAN"/>
                        <xs:enumeration value="LOAR"/>
                        <xs:enumeration value="NETT"/>
                        <xs:enumeration value="PENS"/>
                        <xs:enumeration value="REFU"/>
                        <xs:enumeration value="RENT"/>
                        <xs:enumeration value="ROYA"/>
                        <xs:enumeration value="SCVE"/>
                        <xs:enumeration value="SECU"/>
                        <xs:enumeration value="SSBE"/>
                        <xs:enumeration value="SUBS"/>
                        <xs:enumeration value="TAXS"/>
                        <xs:enumeration value="VATX"/>
                        <xs:enumeration value="SUPP"/>
                        <xs:enumeration value="HEDG"/>
                        <xs:enumeration value="TRAD"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="CreditTransferType2Code">
                <xs:restriction base="CreditTransferTypeCode">
                        <xs:enumeration value="CORT"/>
                        <xs:enumeration value="SALA"/>
                        <xs:enumeration value="TREA"/>
                        <xs:enumeration value="CASH"/>
                        <xs:enumeration value="DIVI"/>
                        <xs:enumeration value="GOVT"/>
                        <xs:enumeration value="INTE"/>
                        <xs:enumeration value="LOAN"/>
                        <xs:enumeration value="PENS"/>
                        <xs:enumeration value="SECU"/>
                        <xs:enumeration value="SSBE"/>
                        <xs:enumeration value="SUPP"/>
                        <xs:enumeration value="TAXS"/>
                        <xs:enumeration value="TRAD"/>
                        <xs:enumeration value="VATX"/>
                        <xs:enumeration value="HEDG"/>
                        <xs:enumeration value="INTC"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="CreditTransferType1Code">
                <xs:restriction base="CreditTransferTypeCode">
                        <xs:enumeration value="INTC"/>
                        <xs:enumeration value="CORT"/>
                        <xs:enumeration value="SALA"/>
                        <xs:enumeration value="TREA"/>
                        <xs:enumeration value="CMSW"/>
                        <xs:enumeration value="CMTO"/>
                        <xs:enumeration value="CMZB"/>
                        <xs:enumeration value="ADVA"/>
                        <xs:enumeration value="AGRT"/>
                        <xs:enumeration value="ALMY"/>
                        <xs:enumeration value="BECH"/>
                        <xs:enumeration value="BENE"/>
                        <xs:enumeration value="BONU"/>
                        <xs:enumeration value="CASH"/>
                        <xs:enumeration value="CBFF"/>
                        <xs:enumeration value="CHAR"/>
                        <xs:enumeration value="CMDT"/>
                        <xs:enumeration value="COMC"/>
                        <xs:enumeration value="COMM"/>
                        <xs:enumeration value="COST"/>
                        <xs:enumeration value="CPYR"/>
                        <xs:enumeration value="DIVI"/>
                        <xs:enumeration value="FREX"/>
                        <xs:enumeration value="GDDS"/>
                        <xs:enumeration value="GOVT"/>
                        <xs:enumeration value="IHRP"/>
                        <xs:enumeration value="INSU"/>
                        <xs:enumeration value="INTE"/>
                        <xs:enumeration value="LICF"/>
                        <xs:enumeration value="LOAN"/>
                        <xs:enumeration value="LOAR"/>
                        <xs:enumeration value="NETT"/>
                        <xs:enumeration value="PENS"/>
                        <xs:enumeration value="REFU"/>
                        <xs:enumeration value="RENT"/>
                        <xs:enumeration value="ROYA"/>
                        <xs:enumeration value="SCVE"/>
                        <xs:enumeration value="SECU"/>
                        <xs:enumeration value="SSBE"/>
                        <xs:enumeration value="SUBS"/>
                        <xs:enumeration value="TAXS"/>
                        <xs:enumeration value="VATX"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:complexType name="BranchData">
                <xs:sequence>
                        <xs:element name="Id" type="Max35Text" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="Nm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="PstlAdr" type="PostalAddress1" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="PostalAddress1">
                <xs:sequence>
                        <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="5"/>
                        <xs:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="PstCd" type="Max16Text" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="TwnNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="Ctry" type="CountryCode"/>
                </xs:sequence>
        </xs:complexType>
        <xs:simpleType name="CountryCode">
                <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Z]{2,2}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="Max16Text">
                <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="16"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="Max70Text">
                <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="70"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="Max35Text">
                <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="35"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="Max105Text">
                <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="105"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:complexType name="AmountType1Choice">
                <xs:sequence>
                        <xs:choice>
                                <xs:element name="InstdAmt" type="CurrencyAndAmount"/>
                                <xs:element name="EqvtAmt" type="EquivalentAmount"/>
                        </xs:choice>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="EquivalentAmount">
                <xs:sequence>
                        <xs:element name="Amt" type="CurrencyAndAmount"/>
                        <xs:element name="CcyOfTrf" type="CurrencyCode"/>
                </xs:sequence>
        </xs:complexType>
        <xs:simpleType name="CurrencyAndAmount_SimpleType">
                <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0"/>
                        <xs:fractionDigits value="5"/>
                        <xs:totalDigits value="18"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:complexType name="CurrencyAndAmount">
                <xs:simpleContent>
                        <xs:extension base="CurrencyAndAmount_SimpleType">
                                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
                        </xs:extension>
                </xs:simpleContent>
        </xs:complexType>
        <xs:simpleType name="AddressTypeCode">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="HOME"/>
                        <xs:enumeration value="BIZZ"/>
                        <xs:enumeration value="ADDR"/>
                        <xs:enumeration value="PBOX"/>
                        <xs:enumeration value="MLTO"/>
                        <xs:enumeration value="DLVY"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="AddressType2Code">
                <xs:restriction base="AddressTypeCode">
                        <xs:enumeration value="ADDR"/>
                        <xs:enumeration value="PBOX"/>
                        <xs:enumeration value="HOME"/>
                        <xs:enumeration value="BIZZ"/>
                        <xs:enumeration value="MLTO"/>
                        <xs:enumeration value="DLVY"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="AddressType1Code">
                <xs:restriction base="AddressTypeCode">
                        <xs:enumeration value="HOME"/>
                        <xs:enumeration value="BIZZ"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="CurrencyCode">
                <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Z]{3,3}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="SwissSICIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="SW[0-9]{6,6}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="CanadianPaymentsARNIdentifier">
                <xs:restriction base="xs:string">
                        <xs:pattern value="CA[0-9]{9,9}"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="PriorityCode">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="HIGH"/>
                        <xs:enumeration value="NORM"/>
                        <xs:enumeration value="LOWW"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="Priority2Code">
                <xs:restriction base="PriorityCode">
                        <xs:enumeration value="HIGH"/>
                        <xs:enumeration value="NORM"/>
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="Priority1Code">
                <xs:restriction base="PriorityCode">
                        <xs:enumeration value="HIGH"/>
                        <xs:enumeration value="NORM"/>
                        <xs:enumeration value="LOWW"/>
                </xs:restriction>
        </xs:simpleType>
</xs:schema>
